<div class="layout__body design">
  <h1 class="layout__title">
    Frase del diseño
  </h1>
  <div class="layout__col layout__col--left">
    <div class="design__left">
      <div class="bottle">
        <img ng-src="{{ design.product.img_tag }}" alt="">
      </div>
    </div>
  </div>
  <div class="layout__col layout__col--right">
    <div class="design__right">
      <div class="design-upload-image">
        <form novalidate>
          <div class="form-group">
            <label for="">Selecciona un foto</label>
            <input type="file" class="form-control" th-file-input="files"
            multiple>
          </div>
          <button class="btn btn-primary" ng-click="uploadImage()">Subir Archivo</button>
        </form>
        <pre> {{ design.uploadImage | json }}</pre>
      </div>

      <!-- image transform mockup -->
      <div class="design-transform-image">
        <div class="zoom">
          <div class="zoom__area"></div>
          <div class="zoom__inner">
            <div class="zoom__container">
              <div class="zoom__mask">
                <img ng-src="{{ design.uploadImage.file }}" alt="" class="zoom__image">
              </div>
              <img ng-src="{{ design.uploadImage.file }}" alt="" class="zoom__image">
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
