<div class="layout__body design">
  <h1 class="layout__title">
    Frase del diseño
  </h1>
  <div class="layout__col layout__col--left">
    <div class="design__left">
      <div class="label-final">
        <div class="label-template">
          <img ng-src="{{ template.timage }}" alt="">
        </div>
        <th-label-image th-image="labelImage" th-label="labelRender" th-build="labelBuild">
        </th-label-image>
      </div>
      <hr>
      <button class="btn btn-primary" ng-disabled="!labelImage"  ng-click="toRender()">Enviar etiqueta</button>
      <hr>
      <pre>
        {{ labelRender }}
      </pre>

      <!-- <div class="label">

        <div class="label__wrap">
          <div class="label__mask">
            <img ng-src="{{ labelImage.file}}" alt="" class="label__image">
          </div>
        </div>
        <div class="label__base">
          <img ng-src="{{ type.tagimg }}" alt="">
        </div>

      </div> -->
    </div>
  </div>
  <div class="layout__col layout__col--right">
    <div class="design__right">
      <div class="design-upload-image">
        <form novalidate>
          <div class="form-group">
            <label for="">Selecciona un foto</label>
            <input type="file" class="form-control" th-file-input="files"
            multiple>
          </div>
          <button class="btn btn-primary" ng-click="uploadImage()">Subir Archivo</button>
        </form>
        <hr>
      </div>

      <!-- image transform mockup -->
      <div class="design-transform-image">
      <th-transform-image th-image="uploadImage">

      </th-transform-image>
      </div>




    </div>
  </div>
</div>
