<div class="layout__body design">
  <h1 class="layout__title">
    Frase del diseño
  </h1>
  <div class="layout__col layout__col--left">
    <div class="design__left">
      <div class="bottle">
        <img ng-src="{{ design.product.img_tag }}" alt="">
      </div>
    </div>
  </div>
  <div class="layout__col layout__col--right">
    <div class="design__right">
      <div class="design-upload-image">
        <form novalidate>
          <div class="form-group">
            <label for="">Selecciona un foto</label>
            <input type="file" class="form-control" th-file-input="files"
            multiple>
          </div>
          <button class="btn btn-primary" ng-click="uploadImage()">Subir Archivo</button>
        </form>
        <hr>
      </div>

      <!-- image transform mockup -->
      <div class="design-transform-image">
      <th-transform-image th-image="design.uploadImage">

      </th-transform-image>
      </div>




    </div>
  </div>
</div>
