$colors: (
  'wine' : (
    tint : #592F28,
    base : #441C16,
    shade : #2E0D08
  ),
  'gold' : (
    tint : #CBAB68,
    base : #A6833C,
    shade : #81601C
  ),
  'gray' : (
    tint : #949494,
    base : #666666,
    shade : #2D2D2D
  ),
  'white' : (
    tint : #F5F5F5,
    base : #FFFFFF,
    shade: #EBEBEB
  )
);
