$colors: (
  'wine' : (
    tint : #592F28,
    base : #441C16,
    shade : #2E0D08
  ),
  'gold' : (
    tint : #d2aa60,
    base : #bd9655,
    shade : #81601C
  ),
  'gray' : (
    tint : #949494,
    base : #666666,
    shade : #040707
  ),
  'white' : (
    tint : #F5F5F5,
    base : #FFFFFF,
    shade: #EBEBEB
  )
);

$font-stack :(
  'sans' :(
    regular : 'azo_sansregular',
    italic : 'azo_sansitalic',
    bold : 'azo_sansbold'
  ),
  'serif' : (
    regular : 'playfair_displayregular',
    italic : 'playfair_displayitalic',
    bold : 'playfair_displaybold'
  )
);


