body,
html
{
  height: 100%;
}

.wrapper
{
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.layout
{
  position: absolute;
  z-index: 10;
  left: 50px;

  width: calc(100% - 50px);
  height: 100% !important;

  @include element ('header')
  {
    position: relative;

    padding: 1em 0;

    border-bottom: 1px solid color('white','shade');
  }
  @include element('title')
  {
    font-size: 12px;
    font-weight: normal;

    position: relative;

    display: inline-block;

    width: 100%;
    margin: 0;
    padding: 1em 0;

    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;

    color: white;
    border-bottom: 1px solid #ebebeb;
    background: #a6833c;
    &:after
    {
      position: absolute;
      position: absolute;
      bottom: -5px;
      left: 50%;

      display: block;

      width: 10px;
      height: 10px;
      margin-left: -10px;

      content: '';
      content: '';
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
            /* border: 1px solid color('white','shade');
        border-top-color: transparent;
        border-left-color: transparent; */

        background: #a6833c;
      }
    }
    @include element ('body')
    {
      position: relative;

      height: 100%;
    }
    @include element('col')
    {
      position: relative;

      float: left;

      box-sizing: border-box;
      width: 50%;
      height: 100%;
      padding: 1em;

      @include modifier('left')
      {
        border-right: 1px solid color('white','shade');
      }
    }
  }
