<h1>alo alo summary...</h1>
<h3>Maximo de etiquetas {{ maxLabels }}</h3>
<ul class="list-unstyled">
  <li ng-repeat="label in labels">
    <span> <strong>ID</strong> {{ label.processedLabel.id }} </span> <br>
    <img ng-src="{{ label.processedLabel.label }}" alt="">
  </li>
</ul>
<hr>
<button class="btn btn-primary" ng-click="continueDesigning()">Continuar personalizando </button>
<button class="btn btn-primary" ng-click="checkout()">Pasar a pagar</button>
<!-- <form action="{{cart.action}}" method="get" novalidate>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ cookie }}">
  <input id="id_quantity" name="quantity" type="hidden" value="{{ cart.qty }}">
  <input id="id_labels" name="labels" type="hidden" value="{{ cart.labels }}">

</form> -->

<iframe src="http://192.168.1.3:9000/views/checkout/checkout.html"></iframe>
